@import "../../Styles/Colors.less";

.project-creator {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 80px 120px;
	width: 100%;

	.project-toolbar {
		align-items: center;
		border-bottom: 1px solid #404040;
		display: flex;
		padding: 10px;
		width: 100%;
	}

	.project-options-container {
		padding: 50px 20px;
		width: 100%;
	}

	.file-drag-area {
		border: 1px dashed #404040;
		border-radius: 10px;
		display: grid;
		font-size: 18px;
		font-style: italic;
		gap: 10px;
		height: 40%;
		overflow-x: auto;
		padding: 15px;
		width: 75%;

		& > span {
			margin: 20px 0;
		}

		.file-placeholder {
			border: 1px solid #404040;
			border-radius: 10px;
			font-size: 12px;
			height: 100px;
			padding: 0 8px;
			width: 165px;
		}

		&.no-media {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	.action-bar {
		align-items: center;
		display: flex;
		padding: 100px 20px;
		justify-content: flex-end;
		width: 100%;
	}

	@media (min-width: 900px) {
		.file-drag-area {
			grid-template-columns: repeat(7, 1fr);
		}
	}

	@media (max-width: 600px) {
		.file-drag-area {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}