@import "../../Styles/Colors.less";

.media-page {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;

	.ant-menu {
		background-color: #1f1f1f;

		svg {
			margin-right: 8px;
		}
	}

	.align-right {
		max-height: 55vh;
		padding: 0 10px;
		position: relative;
		overflow-x: auto;
		width: 100%;

		.actions {
			align-items: center;
			background-color: #1f1f1f;
			display: flex;
			flex-direction: row;
			margin-bottom: 10px;
			position: sticky;
			top: 0;
			z-index: 2;

			& > button {
				margin-left: 10px;
			}
		}
	}

	.media-content {
		display: grid;
		gap: 10px;
		margin: 0 auto;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 10px;
		max-width: 100%;

		& > span { font-weight: 300; }

		&.no-media {
			align-items: center;
			display: flex;
			height: 50%;
			justify-content: center;
		}

		.media-card {
			align-items: center;
			border: 1px solid @dark-2;
			border-radius: 5px;
			color: @font-dark;
			display: flex;
			flex-direction: column;
			font-size: 12px;
			height: 100px;
			padding: 10px 5px;
			user-select: none;
			width: 175px;

			.thumbnail {
				border-radius: 3px;
				height: 65%;
				margin-bottom: 5px;
			}
		}
	}

	@media (min-width: 900px) {
		.media-content {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@media (max-width: 600px) {
		.media-content {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}